$font-family-normal: "Roboto", sans-serif;

// Header Variable - Start
  /* NAVY COLOR */
  $vdx-navy-dark: #003865;
  $vdx-navy-light: #BFE2FF;
  $vdx-navy-lightish: #E5F3FF;
  /* NAVY COLOR */

  /* AQUA COLOR */
  $vdx-aqua-dark: #00A9AB;
  $vdx-aqua-light: #80D4D5;
  /* AQUA COLOR */

  /* GOLD COLOR */
  $vdx-gold-dark: #ff9230;
  $vdx-gold-light: #FFCB9E;
  /* GOLD COLOR */

  /* GRAY COLOR */
  $vdx-gray-dark: #4b4f54;
  $gray-light: #ccc;
  /* GRAY COLOR */
// Header Variable - End