@use "variables" as *;

body {
    font-family: $font-family-normal;
    font-size: 12px;
}

main {
    margin-left: 40px;
    margin-top: 10px;
}

// Dashboard Home Page Css - Start
.invoice-card {
    
}
// Dashboard Home Page Css - End